*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
/* HEADER STYLING */
header{
    background-image: url("images/bgk-header.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

}

#header_top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

.logo{
   display: flex;
   align-items: center;
   text-decoration: none;
   font-size: 3rem;
   padding-left: 3rem;
}

.logo p{
    font-size: 3.5rem;
    padding-left: 1rem;
    color: #64d2c8;
    background: linear-gradient(to right,  #61cbc3, #5388ad);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;   
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-left: -18rem;
}

nav ul li a:hover{
    color: #64d2c8;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    
}

#hero-section{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin-top: 13rem;
}

#hero-section h1{
    font-size: 3.5rem;
    font-weight: 600;
    padding-bottom: 4rem;
}

.line{
    border-top:1px solid #64d2c8;
    max-width: 6rem;
    
}

#hero-section p{
    font-size: 1.5rem;
    margin-bottom: 4.5rem;
    width: 69rem;
    text-align: center;
    margin-top: -2rem;
}

#hero-section button{
    background-color: transparent;
    color: #64d2c8;
    border: 1px solid #64d2c8;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    font-size: 1.25rem;
    cursor: pointer;
    margin-bottom: 20rem;
    font-weight: 700;
}
/* OUR STORY SECTION */
#our_story-section{
    max-width: 70%;
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 6rem;
}

#our_story-section img{
    margin-left: auto;
    height: 20rem;
    width: 20rem;

}


.our_story_text{
    max-width: 60rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

#our_story-section h2{
    font-size:2rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.our_story_text p{
    font-size: 1.5rem;
    max-width: 50rem;
    color: gray;
}

.our_story_text button{
    margin-top: 2.5rem;
    background-color: transparent;
    color: #64d2c8;
    border: 1px solid #64d2c8;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 700;

}
/* OUR WATCH SECTION */
#watch-section{
    background-image: url("images/bgk-middle.png");
     background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 76rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.25rem;
}

#watch-section img{
    width:  7rem;
    height: 7rem;
}

#watch-section img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#expertise-section{
    color: fuchsia;
}

#team-section{
    color: yellowgreen;
}

#contact_client_section{
    color: lightsalmon;
}

footer{
    color: blueviolet;
}

@media only screen and (max-width: 1114px) {
    #our_story-section{
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
    }

    #our_story-section img{
        margin-left: 0;
        padding-bottom: 2rem;
       
    }

}